.footer{
    background: #0f1a63ff;
}

.footer h1{
    margin: 0;
    font-weight: 500;
    font-family: 'Grotesk';
    font-size: 40px;
    color: white;
}

.button_icon{
    position: fixed;
    bottom:0;
    right:0;
}
