/*Приветствие*/

:root{
    --neon-blue: #1f44ffff;
    --blue: #100259ff;
    --dark-blue:#040138ff;
    --main-color:#0f1a63ff;
}


.hello_image{    
    background-image: linear-gradient(var(--neon-blue), var(--blue),var(--dark-blue));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    text-align: center;
}

.hello_image div{
    width:70%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.buttons button{
    margin-right: 100px;
}
.buttons button:last-child{
    margin-right: 0;
}

.hello_image h1{
    margin: 0;
    font-weight: 500;
    font-family: 'Grotesk';
    font-size: 90px;
    margin-bottom: 20px;
}

.hello_image h5{
    margin: 0;
    font-weight: 500;
    font-family: 'RobotoL';
    font-size: 20px;
}

/*Задание*/

.task{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 800px;
}

.text{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 40%;
   
}

.theory, .technology{
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.theory > div, .technology > div{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.task, .technology, .result{
    background: #ffffff;
    color:var(--main-color);
    font-weight: 500;
}

.task p, .theory p{
    margin: 0;
}
.theory{
    background: var(--main-color);
    color: #ffffff;
}

.task h1, .theory h1, .technology h1, .result h1{
    margin:0;
    font-family: 'Grotesk';
    font-size: 40px;
}

.task ul li, .task p, .theory ul li, .theory p, .technology p,.technology ul li{
    font-family: 'RobotoL';
    font-size: 20px;
}

